<!doctype html>
<html>
  <%= partial 'partials/head' %>
  <body>
    <div class="row align-center">
      <div class="columns">
        <%= partial 'partials/header' %>
        <%= yield %>
        <%= partial 'partials/footer' %>
      </div>
    </div>
  </body>
</html>
