<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<%= javascript_include_tag :foundation, :whatinput, :sharer %>
<%= javascript_include_tag :all %>
<script>
$(document).foundation();
</script>
<footer>
	<div class="row align-middle">
		<div class="columns">
			<p>Copyright Thrifty Vegan 2016</p>
		</div>
		<div class="columns">
			<ul class="shrink social float-right">
				<li><a href=""><span class="ion-social-facebook"></span></a></li>
				<li><a href=""><span class="ion-social-twitter"></span></a></li>
				<li><a href=""><span class="ion-social-youtube"></span></a></li>
			</ul>
		</div>
	</div>
</footer>
