<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<%= javascript_include_tag :foundation, :whatinput, :sharer %>
<%= javascript_include_tag :all %>
<script>
$(document).foundation();
</script>
<footer>
	<div class="row align-middle align-center">
		<div class="small-12 medium-6 columns">
			<p class="left-middle">Copyright Super Basic Vegan 2016</p>
		</div>
		<div class="columns">
			<ul class="social right-middle">
				<li><a href="https://www.facebook.com/Super-Basic-Vegan-1735490083379698/?fref=ts"><span class="ion-social-facebook"></span></a></li>
				<li><a href="https://twitter.com/SuperBasicVegan"><span class="ion-social-twitter"></span></a></li>
				<li><a href="https://www.youtube.com/channel/UC5nuf0LYmdW-QdKXIcC65bg"><span class="ion-social-youtube"></span></a></li>
				<li><a href="https://www.instagram.com/superbasicvegan"><span class="ion-social-instagram"></span></a></li>
			</ul>
		</div>
	</div>
</footer>
