<header>
	<div class="row align-middle">
		<div class="small-12 medium-4 columns">
			<h1><a href="/"><img src="/images/logo.png" alt="Super Basic Vegan"></a></h1>
		</div>
		<div class="columns">
			<ul class="menu align-right">
				<li><a href="/contact/">Contact</a></li>
				<li><a href="/about/">About</a></li>
				<li><a href="https://www.youtube.com/channel/UC5nuf0LYmdW-QdKXIcC65bg"><span class="ion-social-youtube"></span></a></li>
				<li><a href="https://www.instagram.com/superbasicvegan"><span class="ion-social-instagram"></span></a></li>
			</ul>
		</div>
	</div>
</header>
