<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Use title if it's in the page YAML frontmatter -->
	<title><%= current_page.data.title %> | Super Basic Vegan</title>
	<meta name="description" content="No budget? No blender? No problem! You want to become a vegan but are afraid that you don't have what it takes? It is possible! If I can do it, so can you!">

	<link href="https://fonts.googleapis.com/css?family=Noto+Sans|Vollkorn" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

	<%= stylesheet_link_tag :flex %>
	<%= stylesheet_link_tag :site %>
</head>
