---
title: About
---
<h2 class="about-me">About Me</h2>

<p>
	For as long as I can remember I didn't really like the smell or taste of meat, milk and eggs. But I always loved food and eating :P. I was raised to eat animal products and to think that they are good for my health, but I somehow always wanted to be vegan. It was a distant plan for "one day" when I am living a "different life". First obstacle was that I thought it was unhealthy, but once I discovered that it was in fact the healthiest way to live I had other concerns…
</p>
<p>
	I was afraid to go vegan because my perception of vegans through social media was that all healthy vegans live in Hawai, eat tropical fruit blended to smoothies in expensive blenders while successfully self employed or earning money trough social media. How could I possibly apply that to my average Jane, low income, European life? But I courageously kept researching and found the solution to this imaginary problems :).
</p>
<p>
	My goal is to share this information with anyone else who is thinking about going vegan or having trouble staying vegan and main reason being their socio-economical status.  I will try to show you the cheapest and least time consuming way to be a (healthy) vegan.
</p>
<p>
	I am still at the beginning of my vegan journey, learning and finding new solutions as I go, so, let's discover together!
</p>
