---
title: Contact
---
<h2 class="contact">Contact Me</h2>

<p>
	If you have any questions or comments, I would love to hear from you! Just use the contact form below.
</p>

<form action="https://formspree.io/superbasicvegan@gmail.com" method="POST">
  <div class="row">
    <div class="medium-6 columns">
      <label>First Name
        <input type="text" name="name">
      </label>
    </div>
		<div class="medium-6 columns">
      <label>Email
        <input type="text" name="_replyto">
      </label>
    </div>
		<div class="small-12 columns">
			<label>Message
				<textarea class="message" name="message"></textarea>
			</label>
    </div>
		<div class="small-12 columns">
			<input type="hidden" name="_subject" value="Website Contact" />
			<input type="text" name="_gotcha" style="display:none" />
			<input type="submit" value="Send Message" class="expanded secondary button">
    </div>
  </div>
</form>
