---
title: Contact
---
<h2 class="contact">Contact Me</h2>

<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi sed obcaecati voluptatum, natus nulla ad! Quod voluptate pariatur nihil ipsum quia? Inventore quam enim est at quas quibusdam. Qui, neque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi sed obcaecati voluptatum, natus nulla ad! Quod voluptate pariatur nihil ipsum quia? Inventore quam enim est at quas quibusdam. Qui, neque.
</p>

<form>
  <div class="row">
    <div class="medium-6 columns">
      <label>First Name
        <input type="text">
      </label>
    </div>
    <div class="medium-6 columns">
      <label>Last Name
        <input type="text">
      </label>
    </div>
		<div class="small-12 columns">
			<label>Message
				<textarea class="message"></textarea>
			</label>
    </div>
		<div class="small-12 columns">
      <button class="expanded secondary button">Send Message</button>
    </div>
  </div>
</form>
